body {
  margin: 0px auto;
  font-family: verdana;
  font-size:9px;
}


.clearfix
{
	overflow:hidden;
}

.header {
background-color:#000;
width:750px;
min-height: 20px;
}

.center {
	margin:0px auto;
}

.main-content {
  width:750px;
  background-image: url("../img/bg.gif");
  min-height: 330px;
}

.main-content .menu {
  padding:0px;
	margin:0px;
  background-color: #000;
}

.main-content .menu li {
  display:inline-block;
  list-style:none;
  padding:4px 8px;
  color:#fff;
}

.main-content .home-banner{
  margin: 10px 10px 0px 10px;
  font-size: 15px;
  color: #ffa500;
  background-color: #888;
  padding: 6px;
}
.main-content .home-hero-imagecont{
  background-color: rgba(255,255,255,0.93);
  min-height: 210px;
  margin-left: 10px;
  margin-right: 10px;
}

.main-content .home-hero-img{
  display: block;
  margin:0 auto;
}

.main-content .home-main-msg{
   padding:10px;
   font-size: 11px;
   margin:0px;
}
.main-content .home-main-msg .more-link{
  color:#ffa500;
  text-decoration: none;
}
.home-ruler{
  margin: 10px 15px;
  height: 0px;
}
.main-content .home-nae-heading{
  padding:5px;
margin-bottom:0px;
  }


.main-content .footer
{
	    background-color: rgba(255,255,255,0.93);
        margin:0px 10px 0px 10px;
}

.main-content .footer .footer-section
{
float:left;
margin-top:25px;
margin-left:29px;
}
.main-content .footer .footer-section:first-child{
  margin-left:10px;
}

.footer .footer-section .footer-section-image
{
float:left;
margin-right:14px;
}


.footer .footer-section.king-photo-section
{
	float:right;
margin:-6px 30px 6px 0px;
}

.footer-section-content .list-section
{
    padding:5px;
 	list-style:none;
	margin:2px 0px 0px 3px;
}

.disclaimer-content
{
  background-color: rgba(255,255,255,0.93);
text-align: center;
}


.footer .footer-section .footer-section-content
{
float:left;

}
